<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!--script src="https://gweb-musiclab-site.appspot.com/static/js/Tone.min.js"></script-->
    <!-- import the webpage's client-side javascript file -->
    <script src="/Tone.js" defer></script>
    <script src="/script.js" defer></script>
  </head>
  <body>
    <main>
      <section id="intro">
        <h1>Starting with...</h1>
        <form submit="start">
          <select id="time">
            <option>3/4</option>
            <option>4/4</option>
          </select>
          <input placeholder="tempo = 120" id="tempo" type="number" />
          <button id="calibrate">Calibrate</button>
        </form>
      </section>
      <section id="compose" class="hide">
        <canvas id="touch" width="400" height="400"></canvas>
        <canvas id="bars" width="400" height="400"></canvas>
      </section>
      Log:
      <pre id="log" style="border: 1px solid #ccc;"></pre>
    </main>
  </body>
</html>
