<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- <script src="https://unpkg.com/browse/tone@13.8.25/build/Tone.js"></script> -->
    <script src="/Tone.js" defer></script>
    <script src="https://unpkg.com/wicked-elements@2.0.2"></script>
    <script type="module" src="/index.js" defer></script>
  </head>
  <body>
    <main>
      <section id="intro">
        <h1>Starting with...</h1>
        <form>
          <select>
            <option>3/4</option>
            <option>4/4</option>
          </select>
          <div class="calibrate">
            <input placeholder="bpm = 100" type="number" />
            <input value="Calibrate" type="button" />
          </div>
          <div>
            <button type="submit">Go compose!</button>
          </div>
        </form>
      </section>
      <section id="compose">
        <div id="channels">
          <div class="channel" id="channel-0">
            <span>1: </span>
          </div>
        </div>
        <canvas id="touch" width="400" height="400"></canvas>
        <canvas id="bars" width="400" height="400"></canvas>
      </section>
    </main>
  </body>
</html>
