canvas {
  width: 400px;
  height: 400px;
  border: solid black 1px;
  position: absolute;
  top: 30px;
  left: 0;
}
#bars {
  z-index: 1;
}
#touch {
  z-index: 2;
}

#compose,
#intro {
  display: none;
}

#compose.compose,
#intro.intro {
  display: block;
}

#channels::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#channels {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  width: 400px;
  overflow-x: scroll;
}

.channel {
  width: 500px;
}
.channel span {
  padding: 3px;
  cursor: pointer;
}

#metronome .tick {
  opacity: 0;
}
#metronome.tick-0 .tick-0 {
  opacity: 1;
}
#metronome.tick-1 .tick-1 {
  opacity: 1;
}
#metronome.tick-2 .tick-2 {
  opacity: 1;
}
#metronome.tick-3 .tick-3 {
  opacity: 1;
}
