main {
  text-align: center;
  font-family: monospace;
}

h1 {
  font-family: monospace;
}

label {
  width: 30px;
  padding: 0;
}

#title {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  border: none;
}

#dynamics {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#dynamics > * {
  margin-right: 10px;
}

#go .compose {
  display: none;
}

#compose {
  display: none;
  width: 90vw;
  max-width: 400px;
  margin: auto;
  position: relative;
}

#compose.compose {
  display: block;
}

#channels::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#channels {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  width: 100%;
  overflow-x: scroll;
  text-align: left;
}

.channel {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.channel span {
  padding: 3px;
  cursor: pointer;
}

@keyframes tick-0 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes tick-1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#metronome.tick-0 {
  animation: tick-0 0.2s;
  animation-duration: 0.2s;
}
#metronome.tick-1 {
  animation: tick-1 0.2s;
  animation-duration: 0.2s;
}

canvas {
  width: 100%;
  height: 400px;
  border: solid black 1px;
  position: absolute;
  top: 30px;
  left: 0;
}
#bars {
  z-index: 1;
}
#touch {
  z-index: 2;
}

#sketches li {
  text-align: left;
  display: flex;
  align-items: baseline;
  justify-content: left;
  overflow: hidden;
}

#sketches a {
  padding: 5px;
  width: 110px;
}

#sketches .events {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}
