main {
  text-align: center;
  font-family: monospace;
}

h1 {
  font-family: monospace;
}

label {
  width: 30px;
  padding: 0;
}

#title {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  border: none;
}

#dynamics {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#dynamics > * {
  margin-right: 10px;
}

#go .compose {
  display: none;
}

#compose {
  display: none;
  width: 90vw;
  height: 80vw;
  max-height: 500px;
  max-width: 500px;
  margin: auto;
  position: relative;
  background-color: rgb(241, 241, 241);
}

#compose.compose,
#compose.layout {
  display: block;
}

#channels::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#channels {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  width: 100%;
  overflow-x: scroll;
  padding: 10px 20px 30px;
}

.channel {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.channel span {
  padding: 3px;
  cursor: pointer;
}

@keyframes blink-0 {
  from {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
}
@keyframes blink-1 {
  from {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
}
#metronome {
  opacity: 0;
}
#metronome.blink-0 {
  animation: blink-0 0.5s;
}
#metronome.blink-1 {
  animation: blink-1 0.5s;
}
#metronome.tick-0:after {
  content: '1';
}
#metronome.tick-1:after {
  content: '+';
}
#metronome.tick-2:after {
  content: '+';
}
#metronome.tick-3:after {
  content: '+';
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#bars {
  z-index: 1;
}
#touch {
  z-index: 2;
}

#list {
  margin: 0 auto;
  max-width: 600px;
}

#sketches li {
  text-align: left;
  display: flex;
  align-items: baseline;
  justify-content: left;
  overflow: hidden;
}

#sketches a {
  padding: 5px;
  width: 110px;
}

#sketches .events {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}
