main {
  text-align: center;
  font-family: monospace;
  z-index: 1;
  position: relative;
}

h1 {
  font-family: monospace;
}

label {
  width: 30px;
  padding: 0;
}

#title {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  border: none;
}

#dynamics {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#dynamics > * {
  margin-right: 10px;
}

#go.compose {
  display: none;
}
#sharpen {
  position: fixed;
  width: 100%;
  height: 200px;
  top: 0;
  z-index: 0;
}
#compose {
  display: none;
  width: 90vw;
  height: 60vh;
  max-height: 500px;
  max-width: 500px;
  margin: auto;
  position: relative;
  background-color: rgb(241, 241, 241);
}

#compose.compose,
#compose.layout {
  display: block;
}

#stave::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#stave {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  width: 90vw;
  margin: 0 auto;
  overflow-x: scroll;
  height: 50px;
  padding: 10px;
  white-space: nowrap;
}

.bar {
  border-left: black solid 1px;
  display: inline-block;
  min-width: 40px;
}

.bar:last-child {
  border-right: black solid 1px;
}

.voice {
  padding: 3px;
  cursor: pointer;
}

.note {
  cursor: pointer;
  display: inline-block;
}

.t-16 {
  padding-right: 1px;
}
.t-8 {
  padding-right: 2px;
}
.t-8t {
  padding-right: 1px;
}
.t-d8 {
  padding-right: 3px;
}
.t-4 {
  padding-right: 8px;
}
.t-4t {
  padding-right: 2px;
}
.t-d4 {
  padding-right: 12px;
}
.t-2 {
  padding-right: 16px;
}
.t-2t {
  padding-right: 5px;
}
.t-d2 {
  padding-right: 24px;
}
.t-1 {
  padding-right: 32px;
}
.t-1t {
  padding-right: 10px;
}
.t-d1 {
  padding-right: 56px;
}
#channel-bar {
  position: relative;
  left: -20px;
  border-bottom: 3px solid black;
  padding: 3px;
}

@keyframes blink-true {
  from {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
}
@keyframes blink-false {
  from {
    opacity: 0;
  }
  5% {
    opacity: 0.5;
  }
}
#metronome {
  opacity: 0;
}
#metronome.blink-true {
  animation: blink-true 0.5s;
}
#metronome.blink-false {
  animation: blink-false 0.5s;
}
#metronome.tick-0:after {
  content: '1';
}
#metronome.tick-1:after {
  content: '+';
}
#metronome.tick-2:after {
  content: '+';
}
#metronome.tick-3:after {
  content: '+';
}

.tempo-4 .beat {
  width: 25%;
}

.tempo-3 .beat {
  width: 33%;
}

.beat {
  display: inline-block;
}

.tick-1 .beat-1,
.tick-2 .beat-2,
.tick-3 .beat-3,
.tick-4 .beat-4 {
  border: 1px solid blue;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#staves {
  z-index: 1;
}
#touch {
  z-index: 2;
}

#list {
  margin: 0 auto;
  max-width: 600px;
}

#sketches li {
  text-align: left;
  display: flex;
  align-items: baseline;
  justify-content: left;
  overflow: hidden;
}

#sketches a {
  padding: 5px;
  width: 110px;
}

#sketches .events {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}
